@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition-speed: 200ms;
  --bg-main: black;
  --text-main: white;
  --bg-nav: black;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  transition:
    background-color var(--transition-speed) ease,
    color var(--transition-speed) ease;
}

body.light {
  --bg-main: white;
  --text-main: black;
  --bg-nav: white;
}

nav {
  background-color: var(--bg-nav);
  transition: background-color var(--transition-speed) ease;
}

a {
  transition: color var(--transition-speed) ease;
}
